@font-face {
  font-family: 'alex';
  src: url('../fonts/AlexBrush-Regular.ttf');
}
/*menu*/

/*suppression des marges des navigateurs et definition d'une police de caractère*/
.menuDeroulant{
  font-family: Helvetica, Arial, sans-serif;
  margin: 0px;
  padding:0px;
}
/*suppression des marges pour les ul de la nav*/
nav > ul{
  margin: 0px;
  padding: 0px;
}
/*suppression des puces*/
nav li{
  list-style-type: none;
}
/*on mets en ligne uniquement les li de la barre de menu*/
nav > ul > li{
  float: left;
  position: relative;
}
/*on cache les sous-onglets qui ne doivent apparaitre qu'au survol*/
.submenu{
  display: none;
}
/*ajout d'une bordure a chacun des sous elements*/
.submenu li{
  border-bottom: 1px solid black;
}
/*mise en forme des liens des sous menus*/
.submenu li a{
  padding: 15px 30px;
  font-size: 13px;
  color: black;
  width: 270px;
}
/*on rend la case a cocher et le mot "menu" invisible*/
nav input[type=checkbox]{
  display: none;
}
/*on cache le bouton affichant le menu mobile*/
.menu-mobile{
  display: none;
}
/*etirer le menu pour qu'il prenne toute la largeur disponible*/
nav{
  width: 100%;
  background-color: #6A767F;
}
/*un hack css (clearfix)*/
nav > ul::after{
  content: "";
  display: table;
  clear: both;
}
nav a{
  display: inline-block;
  text-decoration: none;
}
nav > ul > li > a{
  padding: 20px 30px;
  color: white;
}
/*mise en forme des sous onglets pour qu'ils apparaissent au survol et bien sous la classe parent auquels ils appartiennent*/
nav li:hover .submenu{
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0px;
  padding: 0px;
  z-index: 100000;
}
.menu-accueil:hover{
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}
.menu-parcours:hover{
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}
/*habillage des sous onglets*/
.menu-parcours .submenu{
background-color: rgb(251, 216, 99);
}
.menu-villes:hover{
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}
/*habillage des sous onglets*/
.menu-villes .submenu{
  background-color: rgb(251, 216, 99);
}
.menu-theme:hover{
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}
/*habillage des sous onglets*/
.menu-theme .submenu{
  background-color: rgb(251, 216, 99);
}
.menu-partenaire:hover{
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}
/*habillage des sous onglets*/
.menu-partenaire .submenu{
  background-color: rgb(251, 216, 99);
}
.menu-contact:hover{
  border-top: 5px solid #0070bb;
  background-color: rgba(000, 112, 192, 0.15);
}
/*habillage des sous onglets*/
.menu-partenaire .submenu{
  background-color: rgb(251, 216, 99);
}
/*ajustement de l'amlignement du texte decaler suite a l'insertion de bordures*/
nav > ul > li:hover a{
  padding: 15px 30px 20px 30px;
}
.submenu li:hover a{
  color: #EEE;
  font-weight: bold;
}
.menu-villes .submenu li:hover{
  background-color: rgb(000, 115, 200);

}
.menu-theme .submenu li:hover{
  background-color: rgb(000, 115, 200);
}
.menu-partenaire .submenu li:hover{
  background-color: rgb(000, 115, 200);
}
/*affiche le menu quand on coche la case*/
nav input[type=checkbox]:checked ~ ul{
  display: block;
}
/*rendre le menu responsive*/
@media screen and (max-width : 680px){
  .menu-mobile{
    display: block;
    color: #FFF;
    background-color: black;
    text-align: center;
    padding: 12px 0;
    width: 98%;
  }
  nav ul{
    display: none;
  }
  nav ul li, nav ul li a{
  width: 100%;
  text-align: center;
  }
  nav ul li a, ul li:hover a{
  padding: 10px 0px 10px 0px;
  }
  nav li:hover .submenu{
  display: block;
  position: static;
  }
}
/*menu*/

/*carrousel*/
.carousel{
  position:relative;
  margin: 0;
  padding:0;
  box-sizing: border-box;
  width: 100%;
  height: 250px;
}
.content-all{
  width: 210px;
  margin: auto;
  perspective: 1000px;
  position: relative;
  margin-top: 50px;
}
.content-carrousel{
  width: 100%;
  position: absolute;
  animation: rotar 20s infinite linear;
  transform-style: preserve-3d;
}
.content-carrousel:hover{
  animation-play-state: paused;
  cursor:pointer;
}
.content-carrousel figure{
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 0px 15px 0px black;
}
.content-carrousel figure:nth-child(1){
  transform: rotateY(0deg)translateZ(300px);
}
.content-carrousel figure:nth-child(2){
  transform: rotateY(40deg)translateZ(300px);
}
.content-carrousel figure:nth-child(3){
  transform: rotateY(80deg)translateZ(300px);
}
.content-carrousel figure:nth-child(4){
  transform: rotateY(120deg)translateZ(300px);
}
.content-carrousel figure:nth-child(5){
  transform: rotateY(160deg)translateZ(300px);
}
.content-carrousel figure:nth-child(6){
  transform: rotateY(200deg)translateZ(300px);
}
.content-carrousel figure:nth-child(7){
  transform: rotateY(240deg)translateZ(300px);
}
.content-carrousel figure:nth-child(8){
  transform: rotateY(280deg)translateZ(300px);
}
.content-carrousel figure:nth-child(9){
  transform: rotateY(320deg)translateZ(300px);
}
.content-carrousel figure:nth-child(10){
  transform: rotateY(360deg)translateZ(300px);
}
.content-carrousel img{
  width: 100%;
  transition: all 300ms;
}
.content-carrousel img:hover{
  transform: scale(1.2);
  transition: all 300ms;
}
@keyframes rotar {
  from{
    transform: rotateY(0deg);
  }to{
    transform: rotateY(360deg);
  }
}
/*carrousel*/

/*header du site*/
.essai{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.enteteAccueil{
  align-self: center;
}
.logo{
margin: 3px;
}
.bande{
  width: 95%;
  height: 15px;
  background-color: #88CCFF;
}
/*header du site*/

.titre{
  text-align: center;
}
h1{
  font-family: 'alex';
  font-size: 3em;
  text-align: center;
}
#footer{
  width: 100%;
  height: 40px;
  background-color: #6A767F;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.admin{
height: 100%;
width: 100%;
display: flex;
justify-content: flex-end;
align-items: flex-end;
}

/*mise en forme du formulaire de login admin*/
.form{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.form h1{
  text-align: center;
  text-shadow: 2px 2px white;
}
.valider{
padding: 10px;
text-align: right;
}
.valider input{
  width: 100px;
  background-color: black;
  color: white;
  font-size: 1em;
}
.login{
  height: 200px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
}
.formulaire{
  color: white;
  text-shadow: 2px 2px black;
}
.formulaire p{
  margin: 6px;
}
label{
  width: 100px;
  display: block;
  float: left;
  margin: 2px;
}
input{
  border: 1px solid black;
  border-radius: 3px;
  padding: 4px;
}
/*mise en forme du formulaire de login admin*/

/*mise en forme de la page parcoursback.php*/
.enteteAdmin{
  width: 100%;
  height: 20px;
  background-color: #A59483;
  display: flex;
  justify-content: flex-end;
}
.contenu{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#parcours{
width: 300px;
height: auto;
background-color: #88CCFF;
margin: 5px;
border-radius: 6px;
border: 1px solid black;
}
#parcours h1{
  font-family: 'alex';
  font-size: 1.5em;
}
.title, .text{
  margin: 5px;
  font-family: Helvetica, Arial, sans-serif;
}
.text{
  overflow-y:auto;
  max-height:150px;
}
/*mise en forme de la page parcoursback.php*/

/*formulaire contact*/
.formContact{
  width: 100%;
  height: 300px;
  margin: 40px;
  display: flex;
  justify-content: space-around;
  align-self: center;
}
#formContact{
  background-color: silver;
  text-align: center;
  border-radius: 8px;
}
#formContact h1{
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: 3px 3px white;
}
/*formulaire contact*/
